body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sd-body.sd-body--static {
  max-width: 1200px !important;
}

.sd-imagepicker__item--inline {
  flex: 1;
}

.sd-imagepicker__item--inline .sd-imagepicker__image {
  width: 100%;
  height: auto;
}

.sd-imagepicker__item--inline .sd-imagepicker__image-container {
  width: 100%;
  height: 100%;
}

.sd-imagepicker__label {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.sd-imagepicker__item-decorator {
  width: 100%;
  height: 100%;
}

.sd-imagepicker__item:focus-within .sd-imagepicker__image,
.sd-imagepicker__item--allowhover .sd-imagepicker__image-container:hover {
  opacity: 0.5;
}
